$angle-top-right: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
$angle-top-left: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
$angle-bottom-right: polygon(0 0, 100% 0, 100% 75%, 0 100%);
$angle-bottom-left: polygon(0 0, 100% 0, 100% 100%, 0 75%);

.angle-top-left {
  -webkit-clip-path: $angle-top-right;
  clip-path: $angle-top-right;
} // .angle-top-left

.angle-top-left {
  -webkit-clip-path: $angle-top-left;
  clip-path: $angle-top-left;
} // .angle-top-left

.angle-bottom-right {
  -webkit-clip-path: $angle-bottom-right;
  clip-path: $angle-bottom-right;
} // .angle-bottom-right

.angle-bottom-left {
  -webkit-clip-path: $angle-bottom-left;
  clip-path: $angle-bottom-left;
}
